<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add todo</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
    
    <form action="/add/addtask/<%=username%>/<%= userid %>" method="post">
    <label for="title">title</label>
    <input type="text" name="title" id="title" required>
    <label for="des">description</label>
    <!-- <input type="text" name="des" id="des" required> -->
    <textarea name="des" id="des" cols="30" rows="10"></textarea>
        <input type="submit">
    </form>
    
</body>
</html>