<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo app</title>
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <section class="home">
        <div class="caption">
          <div class="title">
            <h1>
              Subtracting from your list of priorities is as important as adding
              to it.
            </h1>
            <p>
              To-do lists can help you get, and stay, on top of important projects
              and piles of tasks or decisions
            </p>
          </div>
        </div>
        <a class="ADD btn" href="/login">Get started</a>
      </section>
</body>

</html>