<%- include("includes/head") %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="loginRegister.css">
</head>
<body>
    <div class="head">
    <div class="main2">
        <h1>Register yourself</h1>
        <form class="form" action="/new" method="post">
            <div class="inputs">
                <label for="user"><i class="fa-solid fa-user"></i></label>
                <input type="text" name="username" id="email" placeholder="Username" required>
            </div>
            <div class="inputs">
                <label for="password"><i class="fa-solid fa-lock"></i></label>
                <input type="password" name="password" id="pass2" placeholder="Password" required>
            </div>
            <button type="submit">Register</button>
        </form>
        <h4><%= invalid  %></h4>
        <a href="/login">login</a>
        <div class="social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
    </div>
</div>
</body>
</html>